.slider{
    background-image:linear-gradient(#FBD0FA,#ffff,#7c83fe) ;
}
.left-img{
    margin:0,0,0, -50px;
}
.left-txt{
    margin: 0;
}
.banner-right{
    background-color: #EDEDED;
}
.banner-down{
    background-color: #ADC2D7;
    margin: 0;
}
.down{
    background-image:url(./images/Iphone\ 14\ pro\ 1.png) ;
    
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sale{
    background-color: #958AD4;
}

.left-half-image img,
.right-half-image img {
    width: 100%;
    clip-path: none;
    transform: none;
}

.ct{
    background-color: #EDEDED;
    padding: 40px;
    border: none;
    border-radius: 30px;
}
.footer{
    background-color: #0E071B;
    color: #ffff;
    margin: 0px;
}
.footer-logo .list-group-item {
    margin-right: 10px; 
}

/* Media query */
@media (min-width: 768px) {

    .left-half-image,
    .right-half-image {
        overflow: hidden;
    }

    .left-half-image img {
        width: 200%;
        clip-path: inset(0 0 0 50%);
        transform: translateX(-50%);
    }

    .right-half-image img {
        width: 200%;
        clip-path: inset(0 50% 0 0);
        transform: translateX(50%);
    }
}

@media (max-width: 767px) {
    .left-half-image img {
        clip-path: inset(40% 0 0 0);
        transform: translateY(-44%);

    }

    .right-half-image img {
        clip-path: inset(0 20% 50% 0);
        transform: translate(30%, 54%);
    }
}